*{
    margin: 0; 
    padding: 0; 
 
}

body {
    
    background: rgb(222,3,0);
    background: linear-gradient(90deg, rgba(222,3,0,0.6395600476518732) 0%, rgba(215,136,0,0.7908205518535539) 38%, rgba(255,149,0,0.39866368910845584) 100%);
}

.custom-padding
{
    padding-top: 25px; 
}

nav
{
    position: relative; 
    padding: 10px 20px 10px 10px; 
    text-align: right; 
    z-index: 1; 
    background-color: dodgerblue;  
    margin: 0 auto; 
    width: calc(100% - 60px); 

}

.logo 
{
    width: 15%; 
    float: left; 
    text-transform: uppercase; 
    color: black; 
    font-size: 20px; 
    text-align: left; 
    padding-left: 2%; 
}

.menu-area li a
{
    text-decoration: none; 
    color: white; 
    text-transform: uppercase; 
    display: block; 
    padding: 0 25px; 
    font-size: 14px; 
    line-height: 30px; 
    position: relative; 
    z-index: 1; 
}

.menu-area li{
   list-style: none; 
   display: inline-block; 
}

.menu-area li a:hover
{
    background: white; 
    color: red; 
}

#img1
{
   padding-top: 90px; 
   padding-right:70px; 
   display: block; 
   margin-left: auto; 
   margin-right: auto; 
   height:70%; 
   width: 70%; 
   
}



#heading
{
    padding-top: 170px; 
    text-align: center; 
    font-size: 85px; 
   
}


#p1  
{
    padding-top: 30px; 
    text-align: center; 
    display: block; 
    font-size: 22px; 
    line-height: 50px; 
}

#emp1
{
    padding-top: 50px; 
    font-size: 20px; 
    line-height: 35px; 
     
}

#emp2 {
    padding-top: 40px;
    font-size: 20px;
    line-height: 35px;
}

#emp3 {
    padding-top: 40px;
    font-size: 20px;
    line-height: 35px;
}
#empdescrip1 {
    font-size: 18px;
    line-height: 25px;
}
#empdescrip2 {
    font-size: 18px;
    line-height: 25px;
}
#empdescrip3 {
    font-size: 18px;
    line-height: 25px;
}


    #skillshead {
        text-align: center;
        padding-top: 40px;
    }

#projectshead {
    text-align: center;
    padding-top: 40px; 
}

#imagesrow1 {
    padding-top: 60px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 20px;
}
#imagesrow2 {
    padding-top: 60px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 20px;
}
#imagesrow3 {
    padding-top: 60px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 20px;
}

#excelimg {
    width: 270px;
    height: 200px;
    padding-bottom: 30px; 
}

#cimg {
    width: 270px;
    height: 200px;
    padding-bottom: 30px;
}

#sqlimg {
    width: 270px;
    height: 200px;
    padding-bottom: 30px;
}

#wordpress {
    width: 270px;
    height: 200px;
}
#html {
    width: 270px;
    height: 200px;
}


#sap {
    width: 270px;
    height: 200px;
}
#skillbox1 {
  
    float: left;
    width: 33%;
}
#skillbox2 {
    float: left;
    width: 33%;
}
#skillbox3 {
    
    float: left;
    width: 33%;
}




#exphead {
    text-align: center;
    padding-top: 80px;
    font-size: 30px;
}

.employment 
{
    text-align: center; 
   
}

#headabout
{
    padding-top: 100px; 
    padding-bottom: 20px; 
    text-align: center; 
    display: block; 
}

#Linkeding {
    padding-top: 20px;
    height: 80px;
    width: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

#info
{
    padding-top: 130px; 
    text-align: center; 
    font-size: 18px; 
    padding-right: 80px; 
    padding-left: 20px; 
    line-height: 30px; 

}

#box1 {
    float: left;
   
    
    width: 33%;
}
#box2 {
    float: left;
    
 
    width: 33%;
}
#box3 {
    float: left;
   
    
    width: 33%;
}
